/* style.css */
body, html {
    margin: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
    font-family: "Open Sans", serif;
}

.logo-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
}

.logo-image {
    position: absolute; /* Allow positioning within container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* or contain if you don't want cropping */
    filter: blur(10px) brightness(0.7); /* Initial blur and darkness */
    opacity: 0; /* Initially hidden */
    transform: scale(1.05); /* Slightly scaled up initially */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out, filter 1s ease-in-out; /* Smooth transitions */
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

body.loaded .logo-image {
    opacity: 1;
    transform: scale(1);
    /* filter: blur(0) brightness(1); Remove blur and restore brightness */
}

.overlay-text {
    margin-top: -90px;
    text-align: center;
    color: white;
    z-index: 1; /* Ensure text is above the image */
    opacity: 0;
    transition: opacity 1s ease-in-out 0.5s; /* Delay the text fade-in */
}

body.loaded .overlay-text {
    opacity: 1;
}

.overlay-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.overlay-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.percentages {
    display: flex;
    justify-content: center;
}

.percentages span {
    font-size: 1.5em;
    margin: 0 5px;
    color: #ff6600; /* Example percentage color */
}